<html>
  <head>
    <%= erb :imports %>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= @data %>);

        <% if @type=="ComboChart" %>
        var options = {
          title: '',
          legend: {position: 'bottom'},
          chartArea: {width: '1500'},
          hAxis: {title: '', titleTextStyle: {color: '#333'}, showTextEvery: 10},
          vAxis: {title: 'Tasks', minValue: 0},
          seriesType: 'bars',
          series: {1: {type: 'line'}}
        };


        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        <% else %>

        var options = {
          isStacked: <%= @stacked %>,
          title: '',
          colors: <%= @colors %>,
          legend: {position: 'top'},
          chartArea: {width: '1500'},
          hAxis: {titleTextStyle: {color: '#333'}, showTextEvery: 10},
          vAxis: {title: 'Issues', minValue: 0},
        };


        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        <% end %>
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <%= erb :menu %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <H1><%= @title %></H1>
                <% if @type=="ComboChart" %>
                  <H3>Based on current throughput expected project completion date = <%= @project_end_date %> </H3>
                  <H3>Required throughput = <%= @required_throughput %> tickets per day</H3>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="card">
                    <div class="container-fluid" id="chart_div" style="height: 800px;"></div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
