<html>
  <head>
    <%= erb :imports %>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= @data %>);

        <% if @type=="ComboChart" %>
        var options = {
          title: '',
          hAxis: {title: 'Time',  direction:-1, slantedText:true, slantedTextAngle:90, titleTextStyle: {color: '#333'}, showTextEvery: 10},
          vAxis: {title: 'Tasks', minValue: 0},
          seriesType: 'bars',
          series: {1: {type: 'line'}}
        };


        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        <% else %>

        var options = {
          isStacked: <%= @stacked %>,
          title: '',
          hAxis: {title: 'Time',  direction:-1, slantedText:true, slantedTextAngle:90, titleTextStyle: {color: '#333'}, showTextEvery: 20},
          vAxis: {title: 'Tasks', minValue: 0},
        };


        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        <% end %>
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <%= erb :menu %>
    <H1><%= @title %></H1>
    <% if @type=="ComboChart" %>
      <H3>Based on current throughput expected project completion date = <%= @project_end_date %> </H2>
      <H3>Required throughput = <%= @required_throughput %> tickets per day</H2>
    <% end %>
    <div id="chart_div" style="width: 1800px; height: 800px;"></div>
  </body>
</html>
