<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/scss/style.css">
</head>
<body>
        <%= erb :menu %>

        <div class="container">
            <div class="row d-flex justify-content-between">

                <div class="d-flex col">
                    <div class="card w-100 text-white <%= @warn ? "bg-flat-color-1" : "bg-flat-color-1" %>">
                        <div class="card-body pb-0">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib icon-center">
                                    <i class="ti-calendar"></i>
                                </div>
                                <div class="stat-content dib">
                                    <h4 class="mb-0">
                                        <span class="date"><%= @projected_delivery_date %></span>
                                    </h4>
                                    <p class="text-light">Projected delivery date<br />(based on current points throughput)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->

                <div class="d-flex col">
                    <div class="card w-100 text-white bg-flat-color-1"">
                        <div class="card-body pb-0">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib icon-center">
                                    <i class="ti-alarm-clock"></i>
                                </div>
                                <div class="stat-content dib">
                                    <span class="count"><%= @work_days_required %></span>
                                    <p class="text-light">Work Days Required</p>
                                    <p class="text-light">(based on current points throughput)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->

                <div class="d-flex col">
                    <div class="card w-100 text-white bg-flat-color-1">
                        <div class="card-body pb-0">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib icon-center">
                                    <i class="ti-github"></i>
                                </div>
                                <div class="stat-content dib">
                                    <h4 class="mb-0">
                                        <span class="count"><%= @closed_tickets %></span>
                                        <p class="text-light">Done tickets</p>
                                    </h4>
                                    <h4 class="mb-0">
                                        <span class="count"><%= @open_tickets %></span>
                                        <p class="text-light" data-html="true" data-toggle="tooltip" title="Sum of all these columns points: <br/> <u><%= @currentSprintColumns %></u>">Open tickets</p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->

                <div class="d-flex col">
                    <div class="card w-100 text-white bg-flat-color-1">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib icon-center">
                                    <i class="ti-pulse"></i>
                                </div>
                                <div class="stat-content dib">
                                    <span class="count"><%= @ticketsThroughput %></span>
                                    <p class="text-light" data-html="true" data-toggle="tooltip" title="Throughput column is: <br/> <u><%= @throughputColumns %></u>"> Throughput<br />(tickets per day)</p>
                                </div>
                                <div class="stat-content dib">
                                    <span class="count"><%= @pointsThroughput %></span>
                                    <p class="text-light" data-html="true" data-toggle="tooltip" title="Throughput column is: <br/> <u><%= @throughputColumns %></u>"> Throughput<br />(points per day)</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="d-flex col">
                    <div class="card w-100 text-white bg-flat-color-1">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib icon-center">
                                    <i class="ti-dashboard"></i>
                                </div>
                                <div class="stat-content dib">
                                    <span class="count"><%= @totalSprintPoints %></span>
                                    <p class="text-light" data-html="true" data-toggle="tooltip" title="Sum of all these columns points: <br/> <u><%= @currentSprintColumns %></u>">
                                        Total Points remaining<br />in the current sprint
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-0 text-center">Cumulative Flow</h3>
                            <div class="d-flex justify-content-center bg-white pt-3">
                                <ul class="row d-flex justify-content-between list-inline">
                                    <% @cumulative_data[0][1..-1].each_with_index do |data, index| %>
                                    <li class="col-sm">
                                        <div class="text-muted text-center"><%= data %></div>
                                        <div class="flex-d text-center"><%= @cumulative_data.last[index+1] %></div>
                                        <div class="progress progress-xs mt-2" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: <%= @colors[index] %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                        <div class="container-fluid" id="chart_div" style="height: 800px;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- .content -->

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(<%= @cumulative_data %>);
            var options = {
              isStacked: <%= @stacked %>,
              title: '',
              legend: {position: 'none'},
              colors: <%= @colors %>,
              chartArea: {width: '900', top: '1%'},
              hAxis: {title: '', titleTextStyle: {color: '#333'}, showTextEvery: 10},
              vAxis: {title: 'Issues', minValue: 0},
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
